rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // TODO: implement secure rules
    match /users/{userId} {
      allow read, write: if true;
    }
  }
}
